:root{
    --font-h: 'Playfair Display', serif;
    --font-b: 'Inclusive Sans', sans-serif;

    --br: 30px;

    --tr: 0.1s linear;
    
    --p: rgb(206, 29, 29);
    --c: white;
    --ct: rgba(255,255,255,0.4);
}

@font-face{
    font-family: 'Inclusive Sans';
    src: url('media/font/InclusiveSans-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Playfair Display';
    src: url('media/font/PlayfairDisplay-VariableFont_wght.ttf');
}

html{
    font-size:16px;

    scroll-behavior: smooth;
}

body{
    margin:0;

    max-width: 100dvw;

    overflow-x: hidden;
}

main{
    width: 100%;
    box-sizing: border-box;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;

    gap:10px;
    
    z-index: 999;
}

nav .btn-col{
    margin-left: 50px;
}

.logo{
    padding: 0;
}

.logo img{
    border-radius: var(--br);
    height: 40px;
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

nav a{
    color:var(--c);
    text-decoration: none;

    font-size: 1.1rem;

    padding: 12px 16px;

    border-radius: var(--br);

    transition: var(--tr);
}

nav a:not(.button):hover{
    background-color: rgba(255, 255, 255, 0.1);
    scale: 0.95;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.hero{
    height: calc(100vh + 10px);
}

.hero::before{
    content:"";

    inset:0;

    position: fixed;

    background-image: url('media/hero/hero.jpg');
    background-size: cover;
    background-position: center;

    filter:brightness(0.4);

    z-index: -1;

    animation: fade-in 3s ease-out forwards;
}

@keyframes fade-in {
    from {
        scale:1.1;
    }
    to {
        scale:1;
    }
}

.hero .button{
    animation: spawn 0.8s ease-out;
}

@keyframes spawn{
    0%{
        opacity: 0;
        scale:0.7;
    }

    80%{
        opacity: 0;
        scale:0.7;
    }

    100%{
        opacity: 1;
        scale:1;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-h);
}

p, label, li, a, button, input, textarea, ul{
    font-family: var(--font-b);
}

h1, h2, h3, h4, h5, h6, p, a, button{
    margin-block: 10px;
}

p{
    font-size:1.1rem;
}

a{
    color: var(--c);
    font-size: 1.1rem;
}

a:hover{
    opacity: 0.8;
}

.hero p,
.hero h1{
    color:var(--c);
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero > h1{
    font-size:4rem;
    opacity: 0;
    animation: slide-up 0.4s ease-out forwards;
}

.hero > p{
    max-width: min(100%, 600px);
    text-align: center;

    opacity: 0;

    animation: slide-up 0.4s ease-out forwards;

    animation-delay: 0.3s;
}

@keyframes slide-up{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

button, .button
{
    background-color: var(--p);

    padding: 12px 16px;

    font-size: 1rem;

    border-radius: var(--br);

    transition: var(--tr);

    text-decoration: none;

    color:var(--c);

    border: none;

    cursor: pointer;

    transition: var(--tr);
}

button.clear, .button.clear{
    border:1px solid var(--ct);

    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

button:hover, .button:hover{
    opacity: 0.8;
    scale:0.98;
}

.btn-col{
    display: flex;
    gap:10px;
}

.wrapper{
    background-color: transparent;

    display: flex;
    justify-content: left;
    flex-direction: column;

    padding-block: 35px;
}

.wrapper > section{
    --inline: 35px;
    
    width: calc(100% - var(--inline) * 2);
    margin-inline:var(--inline);

    background-color: rgb(245, 241, 234);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    padding: 50px;

    box-sizing: border-box;
}

.wrapper > section:first-child{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.wrapper > section:last-child{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.wrapper > section > h2{
    font-size:3rem;
}

.wrapper > section > p{
    max-width: min(100%, 600px);

    opacity: 0.7;
}

.icon{
    height: 1rem;
    color: inherit;

    transform: translateY(13%);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    width: min(100%, 1000px);
}

.grid > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--br);

    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;

    transition: var(--tr);
}

.grid > img:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

footer{
    background-color: var(--p);

    color:var(--c);

    margin:0;
    padding:20px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap:40px;

    height:250px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    height: 100%;
    box-sizing: border-box;
}

.bg{
    pointer-events: none;
    position: absolute;
    top:0;
    width: 100dvw;

    overflow:hidden;
    height:3000px;
}

.bg > img{
    position:absolute;
    image-rendering: optimizeSpeed;
}

.bg > img:nth-child(1){
    top:1900px;
    right:0;
    width: 500px;
}

.bg > img:nth-child(2){
    top:1800px;
    height:700px;
    transform:translateX(-40%);
}

.map{
    width: fit-content;
    max-width: 100%;
    outline:1px solid rgba(0,0,0,0.1);

    border-radius: var(--br);

    overflow:hidden;

    margin-block: 20px;
}


.dropdown{
    position:relative;
    width: fit-content;
}

.dropdown-content{
    visibility: hidden;

    opacity: 0;
    scale:0.7;

    position:absolute;
    top:100%;
    left:50%;

    transform: translateX(-50%);

    width: max-content;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.7);
    
    padding:20px;
    border-radius: 10px;

    transition: 0.2s ease-out;

    transform-origin: top left;

    z-index: 99;
}

.dropdown-content > a{
    margin-block: 0;
    padding: 10px;
    text-decoration: none;
    color:var(--c);

    border-radius: var(--br);

    transition: var(--tr);
}

.dropdown-content > a:hover{
    background-color: rgba(255,255,255,0.1);

    opacity: 0.8;
    scale:0.95;
}

.dropdown:hover > .dropdown-content{
    visibility: visible;
    opacity: 1;
    scale:1;
}

#show-nav{
    display: none;
}

@media(max-width: 1400px){
    .grid{
        width: min(100%, 900px);
    }

    .bg > img:nth-child(1){
        top:1700px;
        width: 400px;
    }

    .bg > img:nth-child(2){
        top:1700px;
        height:500px;
    }
}

@media(max-width: 887px){
    .bg {
        display: none;
    }
}

@media(max-width: 600px){
    nav{
        flex-direction: column;
        align-items: center;

        visibility: hidden;
    }

    nav > .btn-col{
        margin:0;
    }

    .hero p{
        margin-inline: 20px;
    }

    .wrapper > section{
        --inline: 10px;
    }

    .wrapper > section:first-child{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .wrapper > section:last-child{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    footer{
        height: fit-content;
    }

    #show-nav{
        display: block;

        padding: 12px 14px;
        border-radius: 50%;
        background-color: var(--p);

        width: fit-content;

        text-align: center;

        position: fixed;
        top: 20px;
        right: 20px;

        z-index: 99;
    }
}